*{
    font-family: "Noto Sans KR", sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    color:black;    
}

.main .header{
    font-size: 20px;
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .header h1 a img{
    width: 70%;
    height:70px;
    background: none;
    display: flex;
}
.main .bar ul li{
    display: inline-block;
    margin:0 30px;
}

.main .bar ul li a{
    text-decoration: none;
    color: black;
}

.main .bar ul li a:hover{
    color: aqua;
}